/* ============================== DB Admin STYLES ================================ */
body {background-color:#eed; font-family:  Arial, Helvetica, sans-serif; margin:0px;}
#container{}

#header{color:#036; border:2px double #888; padding:0px 5px 5px 5px;
background-color:#fff}
#header h1{color:#036; font-size:1.2em; margin-bottom:5px;}

#welcome{float:right; padding:6px 3px; font-size:0.8em;}

#topmenu{padding:3px 5px 7px 5px; background-color:#888; margin-bottom:10px;}

#pagetitle {font-size:1.2em; font-weight:bold;}

/* =================LOGIN================= */
#loginheading{ color:#036; font-weight:bold; font-size:1.5em; }
#login table{background-color:#cdf}
#login th{background-color:#cdf; text-align:right; font-size:1em; font-weight:bold; }
#login input{font-size:1.4em; margin:2px; }
#login td {background-color:#cdf; padding:1px 3px;}


#login{
margin:2em auto;
padding:1em;
background-color:#cdf;
border:2px solid #888;
border-color:#ddd #666 #333 #ccc;
width:30em;
text-align:center;
}

/* =================BUTTONS================= */
a.stdbutton, a.dbeditbutton, a.astdbutton{font-size:0.8em; text-decoration:none; padding:0.2em 0.4em;
        background-color:#eee; color:#000; border:1px solid #888; display:inline;}
a.astdbutton{background-color:#ffd;}        
a.stdbutton:active, a.astdbutton:active, a.dbeditbutton:active{border-color:#345 #cde #def #678; }
a.stdbutton:hover, a.astdbutton:hover, a.dbeditbutton:hover {background-color: #bfb; color:#000; cursor:pointer;}

/* =================FORM ELEMENTS================= */
.formitem{background-color:#fff; border:1px solid #000; padding:1px 2px;}
.formitemerror{background-color:#ff7; border:1px solid #000; padding:1px 2px;}
div.formtitle {clear:both; float:left; text-align:right; font-weight:bold; width:250px; padding:5px 0px; font-size: 0.8em;}
div.forminfo {margin-left:260px; padding:5px 0px; font-size: 0.8em;}
input.formsubmit {color:#000; cursor:pointer; font-size:1em; font-weight:bold}

.fileview{background-color:#eee; border:1px solid #888; padding:0.5em;}
.fileview pre {background-color:#fff; padding:0.25em;}
table {background-color:#ccc; font-size:1em;}
td {background-color:#fff; padding:2px 3px;}
th {background-color:#eed; padding:2px 3px; font-weight:bold;}
tr.even td{background-color:#dff;}
div.error {margin:10px auto; border:2px solid #f00; background-color:#f88; padding:0.5em; width:300px; text-align:center;}

span.formrequired {
  color : #f00;
  font-weight : bold;
  padding-right : 2px;
}

/* =========================TABS================================ */

a.searchtab_select,a.searchtab{
  border-left:1px solid #888;
  border-right:1px solid #888;
  border-top:1px solid #888;
  color:#000;

  float:left;
  padding:2px 1em;
  text-decoration:none;
  font-size:1.2em;
  m