body, div {
  font-family : 'lucida grande', helvetica, verdana, arial, sans-serif
}

body {
  margin : 0;
  padding : 0;
  font-size : small;
  color : #333
}

h1, h2 {
  font-family : 'trebuchet ms', verdana, arial;
  padding : 10px;
  margin : 0
}

h1 {
  font-size : large
}

#main {
  padding : 1em;
}

#banner {
  padding : 15px;
  background-color : #06b;
  color : white;
  font-size : large;
  border-bottom : 1px solid #ccc;
  background : url(../images/bg.gif) repeat-x;
  text-align : center
}

#banner a {
  color : white;
}

 
p {
  margin : 10px 0;
}

li {
  margin-left : 10px;
}

h3 {
  margin : 1em 0 0;
}

h1 {
  font-size : 2em;
}

h2 {
  font-size : 1.8em;
}

h3 {
  font-size : 1.6em;
}

h4 {
  font-size : 1.4em;
}

h5 {
  font-size : 1.2em;
}

a.stdbutton , a.stdbuttoni {
  font-size : 0.9em;
  text-align : center;
  text-decoration : none;
  padding : 1px 0.4em;
  background-color : #8DC70A;
  color : #fff;
  border : 1px solid #888;
  margin-top : 2px;
  width : 10em;
  white-space : nowrap;
}

a.stdbutton  {
  display : block;
}

a.stdbuttoni {
  display : inline;
}

a.stdbutton:hover, a.istdbutton:hover {
  background-color : #888;
  color : #fff;
  cursor : pointer;
}
