/*
        Added styles for table
*/

  #tbl_list {
    background-color : #888;
    width : 100%;
    border-spacing : 0px;
    border: 1px solid #555;
  }
  #tbl_list th {
    background-color : #8DC70A;
    color : #333;
    border : none;
    padding: 2px 4px;
    text-align:left;   
	font-size:11px; 
  }

  #tbl_list tr:hover td{
    background-color : #ccf;
  }
  #tbl_list td:first-child, #tbl_list th:first-child {
    text-align:right;
    padding-right:5px;
  }
  
  #tbl_list td {
    background-color : #fff;
    border-top: 1px solid #888;
    padding: 2px 4px;
    vertical-align:top;
	font-size:11px;
  }
  
  #tbl_list td.yellow {
    background-color : yellow;
    border-top: 1px solid #888;
    padding: 2px 4px;
    vertical-align:top;
	font-size:11px;
  }

  #tbl_list a.row_edit, #tbl_list a.row_delete {
    background-image : url(../images/b_edit.gif);
    background-repeat : no-repeat;
    display : block;
    width : 17px;
    height : 15px;
  }
  #tbl_list a.row_edit {
    background-image : url(../images/b_edit.gif);
  }
  
  #tbl_list a.row_delete {
    background-image : url(../images/b_delete.gif);
  }
  
  #table_addcontact a {
    background-image : url(../images/b_add.gif);
    background-repeat : no-repeat;
    background-position: 0px 4px;
    color : #333;
    display : block;
    padding:4px 3px 3px 20px;
    white-space: nowrap;
  }
  #table_addcontact a:hover {
    background-color : #ccf;
  }
  
  #tabletitle {
    font-size:1.5em;
    text-align:left!important;
    padding:10px!important;
    color : #fff!important;
    font-weight:bold;
  }




/*
 * SimpleModal Contact Form
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2008 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: contact.css 132 2008-05-23 16:05:17Z emartin24 $
 *
 */

body {padding:0; margin:0; height:100%; width:100%;}

/* Overlay */
#contact-overlay {background-color:#000; cursor:wait;}

/* Container */
#contact-container {width:420px; left:50%; top:15%; margin-left:-210px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left;}
#contact-container .contact-content {background-color:#333; color:#ddd; height:40px;}
#contact-container h1 {color:#d76300; margin:0; padding:0 0 6px 12px; font-size:1.2em; text-align:left;}
#contact-container .contact-loading {position:absolute; background:url(../images/contact/loading.gif) no-repeat; z-index:8000; height:55px; width:54px; margin:-14px 0 0 170px; padding:0;}
#contact-container .contact-message {text-align:center;}
#contact-container .contact-error {width:92%; font-size:.8em; background:#000; border:2px solid #ccc; font-size:0.8em; font-weight:bold; margin:0 auto; padding:2px;}
#contact-container br {clear:both;}
#contact-container form {padding:0; margin:0;}
#contact-container label {clear:left; display:block; width:130px; float:left; text-align:right; padding-right:4px; font-weight:bold;}
#contact-container .contact-input {font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; background:#eee; border:1px solid #fff; width:250px;}

#contact-container textarea {font-size:12px;}

#contact-container .contact-top {height:13px; background:url(../images/contact/form_top.gif) no-repeat; padding:0; margin:0;}
#contact-container .contact-bottom {height:13px; background:url(../images/contact/form_bottom.gif) no-repeat; font-size:.7em; text-align:center;}
#contact-container .contact-bottom a,
#contact-container .contact-bottom a:link,
#contact-container .contact-bottom a:active,
#contact-container .contact-bottom a:visited {position:relative; top:-4px; text-decoration:none; color:#666;}
#contact-container .contact-bottom a:hover {color:#888;}
#contact-container .contact-button {margin:4px 0 0 4px; cursor:pointer; height:24px; border:0; font-size:1em; font-weight:bold; color:#fff; text-align:center; vertical-align:middle;}
#contact-container .contact-send {width:50px; background:url(../images/contact/send.png) no-repeat;}


#contact-container .contact-add {width:50px; background:url(../images/contact/send.png) no-repeat;}
#contact-container .contact-update {width:50px; background:url(../images/contact/send.png) no-repeat;}
#contact-container .contact-delete {width:65px; background:url(../images/contact/cancel.png) no-repeat;}
#contact-container .transportation-add {width:50px; background:url(../images/contact/send.png) no-repeat;}
#contact-container .transportation-update {width:50px; background:url(../images/contact/send.png) no-repeat;}
#contact-container .transportation-delete {width:65px; background:url(../images/contact/cancel.png) no-repeat;}
#contact-container .note-add {width:50px; background:url(../images/contact/send.png) no-repeat;}
#contact-container .note-update {width:50px; background:url(../images/contact/send.png) no-repeat;}
#contact-container .note-delete {width:65px; background:url(../images/contact/cancel.png) no-repeat;}


#contact-container .contact-cancel {width:65px; background:url(../images/contact/cancel.png) no-repeat;}
#contact-container a.modalCloseX,
#contact-container a.modalCloseX:link,
#contact-container a.modalCloseX:active,
#contact-container a.modalCloseX:visited {text-decoration:none; font-weight:bold; font-size:1.2em; position:absolute; top:-2px; left:400px; color:#999;}
#contact-container a.modalCloseX:hover {color:#9bb3b3;}