
body{
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}



#page{
	margin:0;
	padding:0;
	width:612px;
	text-align:left;
}

#container_div{
	width:538px;
	margin:37px auto 0 auto;
	background:#FFF;
}



hr {
	color: #000000;
	background-color: #000000;
	height: 1px;
}


#wrapper{
	width: 100%;
	margin: 0 auto;
}
.box{
	background: #fff;
	vertical-align: top;
}
.boxholder{
	clear: both;
	padding: 5px;
	padding-top: 10px;
	background: #8DC70A;
}

.tableSectionHeader {
	font-size: 14px;
	font-weight: bold;
	color: #163957;
	border-bottom: 1px dashed #163957;
}
.boxContents{
	padding:20px;
}

#dialogcontainer {
    background: #fff;
	border: 5px solid #8DC70A;
    margin :  0px;
    padding : 0px;
    table-layout:auto;
}

#dialogcontent {
	background: #fff;
	padding: 1em;
}


#dialogcontainer td {
    padding : 3px;
}

#dialogcontent textarea{
  width : 100%;
}

/* END OF CSS FOR SEARCH PAGE TABS */

#data {
	background-image: url(images/background_color.jpg);
}

.mainContentArea {
	background: #fff;
	border: 5px solid #8DC70A;
	padding: 5px;
}
/* ======================= APPLICTION FORMS (DIALOGS) =======================  */
.appformcontent{
    background: #fff;
	border: 5px solid #8DC70A;
    margin :  0px;
    padding : 5px;
    overflow : scroll;
}

.appform {
  position : absolute;
  background-color : #f2f2f2;
  border : 1px solid #fff;
  border-color : #ddd #666 #555 #ccc;
  padding : 5px;
  z-index : 100;
}
.appform h3 {
  color : #fff;
}
.appiframe{
  margin : 0px;
}

.appform_titlebar {
  background-color : #050;
  color : #fff;
}

.appform_titlebar h1 {
  font-size : 1em;
  padding : 3px 5px;
  border-bottom : 1px solid #fff;
}

.appform_controls {
  float : right;
  color : #fff;
  padding : 4px 0px;
}
.appform_controls a {
  color : #fff;
  font-weight : bold;
  text-decoration : none;
  border-left : 1px solid #ccc;
  background-color : #050;
  padding : 4px 5px 3px 5px;
  font-size: 1.1em;
}
.appform_controls a:hover {
 background-color : #900;
} 

#appform_taskbar {
  position : fixed;
  bottom : 0;
  background-color : #8DC70A;
  color : #fff;
  width : 100%;
  padding : 3px;
  clear : both;
  z-index : 10000;
}
#appform_taskbar  a.taskbar_minimized   {
  display : inline;
  background-color: #050;
  color : #fff;
  border : 1px solid #fff;
  border-color : #ddd #666 #555 #ccc;
  text-decoration : none;
  padding : 1px 3px;
  margin : 2px;
}
#appform_taskbar  a.taskbar_visible   {
  display : inline;
  background-color: #888;
  color : #fff;
  border : 1px solid #fff;
  border-color : #ddd #666 #555 #ccc;
  text-decoration : none;
  padding : 1px 3px;
  margin : 2px;
}

#appform_taskbar a:hover {
  background-color : #888;
}


#apps {
  position : absolute;
  left : 120px;
}

/* ======================================================== */

#menu_icons {
}


.menu_icon img{
  width : 50px;
}

.menu_icon:hover {
 border : 1px dotted #333;
}


.menu_icon {
  display : block;
  text-decoration : none;
  color : #333;
  width : 100px;
  text-align : center;
  border : 1px solid transparent;
  float : left;
}

/* ======================================================== */
#user {
  float : right;
  border : 1px solid #8DC70A;
  padding : 5px;
  background-color : #fff;
  text-align : right;
  margin-right : 10px;
}
#user div {
  padding : 0px 3px;
}

#user a {
  text-decoration : none;
  color : #333;
  padding : 0px 3px;
}

#user a:hover {
  background-color : #8DC70A;
  color : #fff;
}

/* ======================================================== */  
#mail_queue_table {
  background-color: #888;
}

#mail_queue_table td {
  background-color: #fff;
}


#mail_queue_table th {
  color: #fff;
  background-color: #aaa;
} 

#error{
  background-color:#f66;
  padding:1em;
  border:2px solid #f00;
  text-align:center;
  margin:1em;
  font-weight: bold;
}

#message{
  background-color:#fff;
  padding:1em;
  border:2px solid #036;
  text-align:center;
  margin:1em;
  font-weight: bold;
  color: #036;
}

#flash {
    position:absolute;
    top:100px; left:50%;
    margin-left:-250px;
    width:500px;
    background-color:#ff7;
    border:2px solid #888;
    color:#000;
    padding:10px;
    text-align:center;
    z-index:10000;
} 

.textfield {
    font-family : monospace;
    width : 500px;
}

/* =================FORM ELEMENTS================= */
.formitem {
  background-color : #eee;
  border : 1px solid #000;
}

.formitemerror {
  background-color : #ff7;
  border : 1px solid #000;
}

span.formrequired {
  color : #f00;
  font-weight : bold;
  padding-right : 2px;
}

div.formtitle {
  clear : right;
  float : left;
  text-align : right;
  font-weight : bold;
  width : 110px;
  padding : 4px 0px;
  font-size : 0.8em;
}

div.forminfo {
  margin-left : 120px;
  padding : 4px 0px;
  width : 400px;
}

div.forminfo2 {
  margin-left : 120px;
  padding : 4px 0px;
}

input.formsubmit {
  color : #000;
  cursor : pointer;
  font-size : 1em;
}

div.error {
  margin : 10px auto;
  border : 2px solid #f00;
  background-color : #f88;
  padding : 0.5em;
  width : 300px;
  text-align : center;
  display : block;
}

/* ================= TABLE DISPLAY ================= */
#TABLE_DISPLAY {
	font-size : 1em;
	color: #333;
    margin : 5px 0px;
    background-color : #ccc;
}

#TABLE_DISPLAY th {
    color : #fff;
    background-color : #8DC70A;
    padding : 3px;
}

#TABLE_DISPLAY td {
    background-color : #fff;
    padding : 1px 3px;
}

#TABLE_DISPLAY tr.odd td {
    background-color : #DEEBF2;
}

#TABLE_DISPLAY a.row_edit, 
#TABLE_DISPLAY a.row_delete,
#TABLE_DISPLAY a.row_view {
background-image  : url(../images/b_edit.gif);
background-repeat : no-repeat;
display : block;
width : 17px;
height : 15px;
}

#TABLE_DISPLAY a.row_view {
background-image : url(../images/b_view.gif);
}

#TABLE_DISPLAY a.row_edit {
background-image : url(../images/b_edit.gif);
}

#TABLE_DISPLAY a.row_delete {
background-image : url(../images/b_delete.gif);
}

#TABLE_SEARCH_TAB_WRAPPER  td{
  padding : 5px 0px;
}

#TABLE_SEARCH_TAB {
background-color : #ccc;
}

#TABLE_SEARCH_TAB td {
  padding : 1px 3px;
  background-color : #DEEBF2;
}

#TABLE_SEARCH_TAB th {
  padding : 4px 3px;
  background-color : #888;
  color : #fff;
}

#table_title td {
  font-size: 1.5em;
  background-color : #888;
  color : #fff;
  padding : 3px 5px;
}

#TABLE_SEARCH_SELECTION_SHOW a, #UPDATE_BUTTON a{
  font-size: 1.5em;
  display : block;
  background-color : #8DC70A;
  text-decoration : none;
  text-align : center;
  color : #fff;
  padding : 3px 5px;
}

#UPDATE_BUTTON td  {
  padding : 0px;
  background-color : #8DC70A;
}

#TABLE_SEARCH_SELECTION_SHOW a:hover, #UPDATE_BUTTON a:hover {
  background-color : #888;
  color : #fff;
}

.SEARCH_BUTTON {
  
}

.SEARCH_BUTTON:hover {
  background-color: #888;
  color : #fff;
}


/* ================= MISC DISPLAY ================= */

.center {
    text-align : center;
}  
  


